name: Update

on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm install
      
      - name: Download content
        run: node update.js

      - name: Deploy with gh-pages
        run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          npx gh-pages -d dist -u "github-actions-bot <support+actions@github.com>" -b dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # -d: directory, -b: branch, -u: user